@charset "utf-8";
/* CSS Document */
@media only screen and (max-width: 1039px){
    #restaurants-list li{
        width: calc((100% - 12px)/2);
    }
}

@media only screen and (max-width: 1073px) {
    #restaurants-list p {
        margin: 0;
        font-size: 16pt;
    }
} 

@media only screen and (max-width: 812px) {
    #restaurants-list li {
        width: calc((100% - 12px)/2);
    }
} 

@media only screen and (max-width: 780px){
    #restaurants-list li {
        width: calc((70% - 15px));
        margin: 0 auto;
        margin-left: 15.9%;
        margin-bottom: 10px;
    }
    #restaurants-list li h1{
        font-size: 17pt;
    }
    #restaurants-list p{
        font-size: 16pt !important;
    }
    #restaurants-list li a{
        font-size: 16pt;
    }
}

@media only screen and (max-width: 570px) {
    #restaurants-list ul {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    #restaurants-list li {
        width: 100%;
        margin: 0 auto;
        margin: 10px auto;
    }
    
    .inner-filter-option {
        width: 100% !important;
    }
} 

@media only screen and (max-width: 940px){
    .inner-filter-option{
        width: 40%;
    }
}

@media only screen and (max-width: 956px){
    #restaurants-list p { 
        font-size: 13pt;
    }
}
@media only screen and (max-width: 768px) {
    #form-container{
        width: 90%;
        margin-left: 0;
        padding-left: 0 !important;
    }
    #breadcrumb{
        width: 95%;
    }
    #restaurant-maincontent{
        margin-top: 0;
    }

    /* .toggle-to-right{
        margin: 0 auto;
        width: 100%;
    } */
    /* .filter-results-container { 
        margin-top: 6.1em;
    } */
    #reviews-container h2{
        padding-left: 10%;
    }

    #reviews-container p{
        padding-left: 10%;
    }
    #reviews-container span{
        padding-left: 10%;
    }
    .send-review-button{
        margin-left: 10%;
    }

    #form-container form{
        padding-left: 10%;
    }

    nav {
        display: block;
        height: auto;
        justify-content: center;
    }
 
    .filter-options h2{
        text-align: center;
    }
    .filter-options select{
        margin-left: 8px;
        font-size: 16px;
        width: calc((100% - 30px)/2);
    }
    .footer{
        padding: 0;
        width: 100%;
        height: 100px; 
        font-size: 16pt;
        padding-top: 2em;
        justify-content: center;
    }

    .inside #map-container {
        background: #fff none repeat scroll 0 0;
        height: 400px;
        position: relative;
        right: 0; 
        width: 100%;
    }
    
    .inside #footer {
        bottom: 0;
        position: relative;
        width: 100%;
    }

    #restaurant-container, #reviews-container  {
        border-bottom: 0px solid #d9d9d9;
        border-top: 0px solid #fff;
        padding: 10px 0px 0px;
        width: 100%;
        margin-top: 4em;
    }
    .inner-filter-option {
        width: 60%;
    }
    #restaurants-list .restaurant-img{
        min-height: auto;
    }
        
    table #restaurant-hours{
        width: 100%;
        /* display: -webkit-flex; */
        -webkit-align-items: center; /* Safari 7.0+ */
        /* display: flex; */
        display: block;
        align-items: center;
        font-size: 16pt;
    }

    #restaurant-hours{
        font-size: 16pt;
    }
    

    #restaurant-hours .days-of-week,
    .reviews-user-name, 
    .reviews-user-rating, 
    .reviews-user-date, 
    .reviews-user-comments{
        font-size: 16pt;
    }

    .reviews-user-rating{
        width: 106px;
    }
    .reviews-user-name, 
    .reviews-user-date{
        display: inline-block; 
        color: #000;
        padding-left: 0;
        padding-right: 0;
         
    }

    .reviews-user-name {
        border-radius: 20px 0px 0px 0px;
    }

    .reviews-user-comment{
        border-radius: 0px 0px 0px 20px;
    }

    .reviews-user-date{
        text-align: right; 
        padding-top: 10px;
    }
    
    .days-of-week{
        padding-left: 10%;
    }

    .reviews-user-date {
    font-style: italic; 
    }

    .reviews-user-name{
        padding-top: 10px;
    }

    #reviews-list li{
        width: 80%;
        margin: 0 auto;
        border: 0;  
    }

    #reviews-list li:last-of-type{
        border-bottom: 0;
    }
    #restaurant-address{
        margin: 10pt 10pt;
    }

    #restaurant-cuisine{
        font-size: 20pt;
    }
    #restaurant-address{
        font-size: 16pt;
    }

    .map-offline-placeholder {
        display: none;
        height: 300px; 
        -webkit-align-items: center !important; 
        align-items: center !important;
    }

    #breadcrumb li { 
        font-size: 16pt;
        display: inline;
    }

    #breadcrumb{
        margin-top: 0;
    }

    h1, h2, h3, h4, h5, h6 { 
        margin: 0 0 0px;
    }

    h2.emphasis {
        margin-top:  35%;

    }
} 

@media screen and (max-width: 533px){
    .reviews-user-date{
        max-width: 80%;
    }
}

@media screen and (max-width: 455px){
    .reviews-user-date{
        max-width: 70%;
    }

    #restaurant-hours td {
        color: #666;
        max-width: 148px;
    }
}

@media screen and (max-width: 363px){
    nav {
        width: 100%;
    }
    .nav-restaurant{
        height: 136px;
    }
    
    .reviews-user-name, 
    .reviews-user-date {
        max-width: 100%;
        text-align: left;
        width: 100%;
    }

    .reviews-user-name{
        margin-bottom: 0 !important;
    }

    .reviews-user-name, 
    .reviews-user-date{
        display: block;
    }

    nav h1 a, 
    nav h1 a:hover,
    nav h1 a:focus{
        letter-spacing: 6px;
    }
}

@media screen and (max-width: 250px){
    nav {
        height: 80px;
        padding: 15px 0px 0px 0px;
    }
}